/*
rgb(251,164,74)
rgb(165,53,190)
 */

html {
  cursor: url(../data/rockcursor.cur), progress !important;
}

body {
	/* font-family: silkaregular; */
  font-family: 'Roboto Mono', monospace;
	font-size: 32px;
	line-height: 1.25;
	background-color: rgba(165,53,190,0);
	color: black;
	margin: 240px auto 200px auto;
	max-width: 1120px;
	transition: background-color 0.5s;
  /* border: 2px solid blue; */
  margin-bottom: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px;
  text-align: center;
  z-index: 1;
}

header img {
  width: 100px;
  height: auto;
  transition: width 0.8s;
}

header h2 {
    color: rgb(154, 205, 50);
    font-size: 20px;
}

header.slide img {
  width: 64px;
}

header.slide h1{
  opacity: 0;
}

header.slide h2{
  opacity: 0;
}

h1 {
  color: rgb(251,164,74);
  font-size: 40px;
  margin: auto;
  text-align: center;
}

section {
  margin: 80px 40px 80px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  /* border: 2px solid red; */
}

section.reverse {
  flex-direction: row-reverse;
}

section img {
  position: relative;
  height: 630px;
  width: auto;
  max-width: none;
}

.SectionDiv {
  padding: 40px;
  position: relative;
}

section p {
  font-size: 20px;
	color: black;
  margin: 1em 0 0 0;
}

h3 {
  color: rgb(251,164,74);
}

a {
  display: block;
  color: #000;
  padding: 6px 2px;
  text-decoration: none;
}

 a:hover {
  cursor: url(../data/rockcursor.cur), progress !important;
  font-weight: bold;
  color: rgb(251,164,74);
  text-shadow: 0 0 0.7em rgb(165,53,190), 0 0 0.7em rgb(165,53,190), 0 0 0.7em rgb(165,53,190);
}

/* Centered Section */

.vid {
  /* border: 2px solid blue; */
  margin: 0px 40px 0px 40px;
  text-align: center;
}

video {
    width: 100%;
    height: auto;
}

.midSectionDiv {
  margin-top: 1em;
}

.midSectionDiv {
  /* border: 2px solid red; */
  padding-left: 35px;
  padding-right: 35px;
}

section.middle {
  display: block;
  margin: 80px 40px 80px 40px;
  align-items: center;
  /* border: 2px solid purple; */
}


/* Slides */

.SlidesDIV {
  position: relative;
  height: 630px;
  width: 480.7px;
  cursor: pointer;
  /* border: solid 2px red; */
  max-width: none;
  min-width: 480.7px;
}

.SlidesAction {
  /* border: 1px solid blue; */
  height: 630px;
  width: 480.7px;
}

div.SlidesAction img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: transform 0.5s, box-shadow 0.5s;
  pointer-events: none;
}

div.SlidesAction img:first-child {
  z-index: 1;
}

div.SlidesAction:hover img {
  /* box-shadow: 0 0 50px rgba(220,20,60, 0.3); */
  box-shadow: 0 0 70px rgba(251,164,74, 1);
}
