/*
#fff6a1
#104868
#b2baf6
rgb(178, 186, 246)
#ffc9e6
#ffafd9
#cc639a
#8c141a
rgba(140, 20, 26,1)
*/

.SectionDiv {
  padding: 40px;
  position: relative;
}

.first {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  /* border: solid 2px red; */
  max-width: 600px;
}

section.reverse {
  flex-direction: row-reverse;
}

section img {
  /* border: solid 2px orange; */
  position: relative;
  max-width: 480.7px;
  height: auto;
}

section p {
  font-size: 20px;
  margin: 1em 0 0 0;
}

section h4 {
  color:#fff6a1;
  font-size: 25px;
}

section a:hover img {
  box-shadow: 0 0 70px #bd1717;
}

video {
  width: 480.7px;
  height: auto;
  /* cursor: url(../data/rockcursor.cur), progress !important; */
}


.smallImgs {
  /* border: 2px solid red; */
  height: 630px;
  display: flex;
  align-items: center;
}

/* Slides */

.SlidesDIV {
  position: relative;
  /* height: 630px;
  width: 480.7px; */
  height: auto;
  width: auto;
  /* border: solid 2px red; */
}

.SlidesAction {
  /* border: 1px solid blue; */
  height: 630px;
  width: 480.7px;
  top: 0;
  left:0;
}

div.SlidesAction img {
  /* border: 1px solid purple; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: transform 0.5s, box-shadow 0.5s;
  pointer-events: none;
}

div.SlidesAction img:first-child {
  z-index: 1;
}
